.success-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f8ff;
}

.success-icon {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #22bc66;
}

p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.btn {
    background-color: #22bc66;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #199c4b;
}
